body {
    padding: 1em;
}

h1 {
    position: relative;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Lobster', helvetica, arial;
}

article h3 {
    margin-bottom: -2%;
    
}

article img {
    margin-bottom: 5%;
}

.button-group{
    padding-top: 20px;
}

.login-modal input{
    
}

p {
    text-align:justify;
}

.highlights li{
    margin-top: 0px;
    padding-top: 0px;   
    text-align: center;
}

.orbit-slide-number{
    visibility:hidden;
}

.orbit-timer{
    visibility:hidden;
}

.right.button.tiny.round{
    font-size: 1em;
}

.reveal-modal.small {
    margin-top: 1.5em;
}

#loginModal h1{
    padding-bottom: 0.5em;
}

.right a{
    margin-top: 1em;
}

.separator{
    margin-top: 0;
    padding-top: 0;
}

.large-6.columns img{
    padding-top: 0.4em;
}
textarea{
    min-height: 150px;
}

/* Main Page - News */
#category, #rating{
    padding-bottom: 3px;
    color: #008cba;
    font-weight: bold;
}

.favourite-star-enabled, .favourite-star-disabled{
    float:right;
}

.favourite-star-enabled::before{
    color: #c98406;
}

.rating-star-enabled::before{
    color: #c98406;
}

/* Article */
.comment-username, .comment-datetime{
    display: inline;
}

.comment-username{
    margin-right: 1rem;
}

/* Create News */
label[for="title"], label[for="body"], label[for="categories"]{
    cursor: default;
}

textarea[name="body"]{
    height: 15rem;
}

label[for="categories"]{
    padding-top: 1.3em;
}

input[type="submit"]{
    margin: 0.5em;
}

/* Header User */

a[data-dropdown="user-menu"]{
    width: 12rem;
}

#torso-header-user{
    padding-right: 0.5rem;
}

/* User Profile */
.fi-torso{
    color: #008cba;
}

#username{
    display: inline;
    padding-left: 0.5em;
    font-weight: bold;
}

#email{
    display: inline;
    padding-left: 0.5em;
    font-weight: bold;
}

#gender{
    display: inline;
    padding-left: 0.4em;
    font-weight: bold;
}

#birthday{
    display: inline;
    padding-left: 0.7em;
    font-weight: bold;
}

#address{
    display: inline;
    padding-left: 0.7em;
    font-weight: bold;
}

#regdate{
    display: inline;
    padding-left: 0.6em;
    font-weight: bold;
}

.fi-star{
    margin-right: 0.2em;
    color: #b6b616;
}

.fi-comment{
    color: #c98406;
}

#favouritesli, #commentsli{
    margin-left: 0em;
    list-style-type: none;
}

#favouritesli li, #commentsli li{
    margin-left: 0em;
}

.comment{
    display: inline;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#userimage{
    margin: 1em;
}

.fi-social-youtube.small-3.small-centered.columns, .fi-social-facebook.small-3.small-centered.columns,
.fi-social-google-plus.small-3.small-centered.columns, .fi-social-linkedin.small-3.small-centered.columns{
    font-size: 1.5em;
    padding: 0.3em;
}

.fi-social-youtube.small-3.small-centered.columns{
    padding-left: 1.8em !important;
}

/* Header User Profile */
#user-menu{
    margin-top: 1%;
}

#user-menu li a{
    margin-top: 4%;
    margin-bottom: 4%; 
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

#user-menu li i{
    margin-right: 4%;
}

/* Register User */
label[for="username"], label[for="fname"], label[for="lname"],
label[for="email"], label[for="password"], label[for="birthday"],
label[for="phone"], label[for="twitter"], label[for="youtube"],
label[for="facebook"], label[for="googleplus"], label[for="linkedin"]{
    cursor: default;
}

/* Approval Board */

.tabs dd{
    font-weight: bold;
    width: 33.333333%;
}

.tabs dd a{
    text-align: center;
    color: #008cba;
}

.pendingnews table, .approvednews table, .reprovednews table{
    width: 100%;
}

.pendingnews td, .approvednews td, .reprovednews td{
    margin: 0;
    padding: 0;
    padding-left: 1em !important;
}

.app-rep-button{
    color: #ffffff;
    background-color: #404040;
    text-align: center;
    font-weight: normal;
}

.publish-button{
    margin: 1em;
    padding-left: 2.7em !important; 
    padding-right: 2.7em !important; 
    background-color: #43ac6a;
}

.reprove-button{
    margin: 1em; 
    padding-left: 2.555em !important; 
    padding-right: 2.555em !important; 
    background-color: #f04124;
}

.unpublish-button{
    margin: 1em;
    padding-left: 2.09em !important; 
    padding-right: 2.09em !important; 
    background-color: #f8a40a;
}

.delete-button{
    margin: 1em; 
    padding-left: 3.0095em !important;
    padding-right: 3.0095em !important;
    background-color: #f04124;
}

.app-rep-button:hover{
    background-color: #666666;
}

.publish-button:hover{
    background-color: #73c893;
}

.unpublish-button:hover{
    background-color: #fac054;
}

.reprove-button:hover, .delete-button:hover{
    background-color: #f57f6c;
}

.app-rep-button, .publish-button, .reprove-button, .unpublish-button, .delete-button{
    border-radius: 1000px;
}

/* Manage Users */
.roles select{
    margin-bottom: 0;
}

.block input{
    margin-bottom: 0;
}

/* My News */
.drafts table, .pending table, .approved table, .reproved table, .allnews table{
    width: 100%;
}

.drafts td, .pending td, .approved td, .reproved td, .allnews td{
    margin: 0;
    padding: 0;
    padding-left: 1em !important;
}

.approved .tiny.button.success.disabled.radious{
    margin: 1em;
    padding-left: 2.18em !important; 
    padding-right: 2.18em !important; 
}

.reproved .tiny.button.radious.submit-button{
    margin: 1em;
    margin-left: 2em;
    padding-left: 2.5em !important; 
    padding-right: 2.5em !important; 
}

.submit-button{
    margin: 1em;
    padding-left: 2.8em !important; 
    padding-right: 2.8em !important;
    border-radius: 1000px; 
    background-color: #43ac6a;
}

.submit-button:hover{
    background-color: #73c893;
}

.allnews .tiny.button.disabled.radious.pending-button{
    background-color: #fac054;
}

.allnews .tiny.button.success.disabled.radious, .allnews .tiny.button.alert.disabled.radious,
.allnews .tiny.button.disabled.radious, .allnews .tiny.button.disabled.radious.pending-button{
    margin: 1em;
    padding-left: 2.18em !important; 
    padding-right: 2.18em !important;
}



