body {
    padding: 1em;}

h1 {
    position: relative;
    margin-top: 10px;
    font-family: 'Lobster', helvetica, arial;
    font-size: 50px;}

.button-group{
    padding-top: 20px;}

p {
    text-align:justify;}

.highlights li{   
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;}

.orbit-slide-number{
    visibility:hidden;}

.orbit-timer{
    visibility:hidden;}
